In [1]:
import pandas as pd

# Load the CSV data
df = pd.read_csv("D:/Car price prediction/del_car_merged_dataset1.csv")

In [2]:
# Drop multiple columns
df = df.drop(columns=['priceActual','Registration Year', 'it','priceSaving','priceFixedText','owner','Engine','Ownership','Seats.1','transmission','km','Fuel Type','Year of Manufacture'])

In [3]:
df.isnull().sum()

ft                                 0
bt                                 1
ownerNo                            0
oem                                0
model                              0
modelYear                          0
centralVariantId                   0
variantName                        0
price                              0
trendingText                       0
Insurance Validity                 1
Seats                              1
Kms Driven                         0
RTO                              144
Engine Displacement                0
Transmission                       0
Comfort & Convenience              0
Interior                           0
Exterior                           0
Safety                             0
Entertainment & Communication      0
Mileage                           84
Max Power                          3
Torque                             3
Wheel Size                       520
dtype: int64

In [4]:
# Fill missing 'bt' values with "Unknown"
df['bt'].fillna("Unknown", inplace=True)

C:\Users\yashw\AppData\Local\Temp\ipykernel_46728\3014743610.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bt'].fillna("Unknown", inplace=True)

In [5]:
mode_value = df['Insurance Validity'].mode()[0]
df['Insurance Validity'].fillna(mode_value, inplace=True)

C:\Users\yashw\AppData\Local\Temp\ipykernel_46728\1222625250.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Insurance Validity'].fillna(mode_value, inplace=True)

In [6]:
df['Seats'] = pd.to_numeric(df['Seats'].str.replace('Seats', '').str.strip(), errors='coerce').fillna(0).astype(int)

In [7]:
df['RTO'].fillna('Unknown', inplace=True)

C:\Users\yashw\AppData\Local\Temp\ipykernel_46728\389677397.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RTO'].fillna('Unknown', inplace=True)

In [8]:
df['Mileage'] = pd.to_numeric(df['Mileage'].str.replace(' kmpl', '').str.replace(' km', '').str.strip(), errors='coerce').fillna(0)

In [9]:
df['Max Power'] = pd.to_numeric(df['Max Power'].str.replace('bhp', '').str.strip(), errors='coerce')
df['Torque'] = pd.to_numeric(df['Torque'].str.replace('Nm', '').str.strip(), errors='coerce')
# Fill NaN values in 'Max Power' and 'Torque' with their respective means
df['Max Power'].fillna(df['Max Power'].mean(), inplace=True)
df['Torque'].fillna(df['Torque'].mean(), inplace=True)

C:\Users\yashw\AppData\Local\Temp\ipykernel_46728\2161950368.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Max Power'].fillna(df['Max Power'].mean(), inplace=True)
C:\Users\yashw\AppData\Local\Temp\ipykernel_46728\2161950368.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Torque'].fillna(df['Torque'].mean(), inplace=True)

In [10]:
df['Wheel Size'] = pd.to_numeric(df['Wheel Size'], errors='coerce')
mode_value1 = df['Wheel Size'].mode()[0]
# Fill NaN values in 'Wheel Size' with the mode
df['Wheel Size'].fillna(mode_value1, inplace=True)

C:\Users\yashw\AppData\Local\Temp\ipykernel_46728\2178333416.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Wheel Size'].fillna(mode_value1, inplace=True)

In [11]:
# Clean the 'Engine' column by removing the 'cc' suffix
df['Engine Displacement'] = df['Engine Displacement'].str.replace(' cc', '', regex=False)
# Convert to numeric if needed
df['Engine Displacement'] = pd.to_numeric(df['Engine Displacement'], errors='coerce')

In [12]:
# List of columns you want to convert to lowercase
a = ['ft', 'bt', 'oem','model','variantName','Insurance Validity','RTO','Transmission'] 
# Convert each specified column to lowercase
for i in a:
    df[i] = df[i].astype(str).str.lower()

In [13]:
# Cleaning the 'price' column
df['price'] = df['price'].replace(
  {'â‚¹ ': '', ',': '', ' Lakh': '*100000', ' Crore': '*10000000'}, regex=True)
# Evaluate the string expressions to convert to numeric
df['price'] = df['price'].apply(lambda x: eval(x))
# Convert to float
df['price'] = df['price'].astype(int)

In [14]:
df['Kms Driven'] = df['Kms Driven'].str.replace(' Kms', '').str.replace(' km', '').str.replace(',', '').astype(int)

In [15]:
import pandas as pd

#fill with city name
df['city'] = 'Delhi'

# Display the updated DataFrame
print(df)

          ft         bt  ownerNo            oem              model  modelYear  \
0     diesel        suv        1            kia         kia seltos       2022
1     petrol        suv        2        hyundai      hyundai creta       2016
2     petrol        suv        1  mercedes-benz  mercedes-benz glc       2020
3     petrol  hatchback        2         maruti       maruti swift       2018
4     petrol        suv        1        hyundai      hyundai creta       2017
...      ...        ...      ...            ...                ...        ...
1480  petrol      sedan        1          honda         honda city       2019
1481  petrol        suv        1            kia          kia sonet       2021
1482  petrol      sedan        1        hyundai      hyundai verna       2011
1483  diesel        suv        1        hyundai      hyundai creta       2019
1484  diesel        suv        0             mg         mg gloster       2023

      centralVariantId           variantName    price  \
0                 7121    gtx plus diesel at  1900000
1                 1449            1.6 vtvt s   762000
2                 6837                   200  5600000
3                10403                   vxi   523000
4                 5362       1.6 vtvt e plus   765000
...                ...                   ...      ...
1480              5627          i-vtec cvt v   900000
1481              8000         htk plus bsvi   950000
1482              1832           1.6 sx vtvt   418000
1483              6440  1.6 sx option diesel  1195000
1484              9298       savvy 6 str 4x4  4640000

                                           trendingText  ...  \
0     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
2     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
3     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
4     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
...                                                 ...  ...
1480  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1481  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1482  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1483  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1484  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...

     Comfort & Convenience  Interior  Exterior Safety  \
0                       24        14        20     34
1                       15        10         9     23
2                       31        14        16     42
3                       11         7         7     26
4                       16         9         8     23
...                    ...       ...       ...    ...
1480                    26        11        11     28
1481                    12         9        13     26
1482                    16        11         9     25
1483                    29        12        16     33
1484                    29        13        20     32

      Entertainment & Communication Mileage  Max Power      Torque  \
0                                11   18.00     113.43  250.000000
1                                 8   15.29     121.30  151.000000
2                                12   12.74     197.00  198.950126
3                                 6   22.38      88.50  113.000000
4                                 9   15.29     121.30  151.000000
...                             ...     ...        ...         ...
1480                              9   18.00     117.60  145.000000
1481                             10   18.40      81.86  115.000000
1482                              5   17.01     121.30  154.900000
1483                              7   20.50     126.20  198.950126
1484                             12   12.04     212.55  478.500000

      Wheel Size   city
0           17.0  Delhi
1           16.0  Delhi
2           19.0  Delhi
3           16.0  Delhi
4           16.0  Delhi
...          ...    ...
1480        15.0  Delhi
1481        16.0  Delhi
1482        16.0  Delhi
1483        17.0  Delhi
1484        19.0  Delhi

[1485 rows x 26 columns]

In [16]:
# Save the cleaned DataFrame as a CSV file
df.to_csv('cleaned_del_car.csv', index=False)

In [17]:
df.dtypes

ft                                object
bt                                object
ownerNo                            int64
oem                               object
model                             object
modelYear                          int64
centralVariantId                   int64
variantName                       object
price                              int32
trendingText                      object
Insurance Validity                object
Seats                              int32
Kms Driven                         int32
RTO                               object
Engine Displacement                int64
Transmission                      object
Comfort & Convenience              int64
Interior                           int64
Exterior                           int64
Safety                             int64
Entertainment & Communication      int64
Mileage                          float64
Max Power                        float64
Torque                           float64
Wheel Size                       float64
city                              object
dtype: object