In [2]:
import pandas as pd

# Load the CSV data
df = pd.read_csv("D:/Car price prediction/che_car_merged_dataset1.csv")

In [3]:
# Drop multiple columns
df = df.drop(columns=['priceActual','Registration Year', 'it','priceSaving','priceFixedText','owner','Engine','Ownership','Seats.1','transmission','km','Fuel Type','Year of Manufacture'])

In [4]:
df.isnull().sum()

ft                                 0
bt                                 0
ownerNo                            0
oem                                0
model                              0
modelYear                          0
centralVariantId                   0
variantName                        0
price                              0
trendingText                       0
Insurance Validity                 0
Seats                              0
Kms Driven                         0
RTO                              110
Engine Displacement                0
Transmission                       0
Comfort & Convenience              0
Interior                           0
Exterior                           0
Safety                             0
Entertainment & Communication      0
Mileage                           44
Max Power                         11
Torque                            11
Wheel Size                       468
dtype: int64

In [5]:
df['RTO'].fillna('Unknown', inplace=True)

C:\Users\yashw\AppData\Local\Temp\ipykernel_95016\389677397.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RTO'].fillna('Unknown', inplace=True)

In [6]:
df['Mileage'] = pd.to_numeric(df['Mileage'].str.replace(' kmpl', '').str.replace(' km', '').str.strip(), errors='coerce').fillna(0)

In [7]:
df['Max Power'] = pd.to_numeric(df['Max Power'].str.replace('bhp', '').str.strip(), errors='coerce')
df['Torque'] = pd.to_numeric(df['Torque'].str.replace('Nm', '').str.strip(), errors='coerce')
# Fill NaN values in 'Max Power' and 'Torque' with their respective means
df['Max Power'].fillna(df['Max Power'].mean(), inplace=True)
df['Torque'].fillna(df['Torque'].mean(), inplace=True)

C:\Users\yashw\AppData\Local\Temp\ipykernel_95016\2161950368.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Max Power'].fillna(df['Max Power'].mean(), inplace=True)
C:\Users\yashw\AppData\Local\Temp\ipykernel_95016\2161950368.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Torque'].fillna(df['Torque'].mean(), inplace=True)

In [8]:
df['Wheel Size'] = pd.to_numeric(df['Wheel Size'], errors='coerce')
mode_value = df['Wheel Size'].mode()[0]
# Fill NaN values in 'Wheel Size' with the mode
df['Wheel Size'].fillna(mode_value, inplace=True)

C:\Users\yashw\AppData\Local\Temp\ipykernel_95016\1812922504.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Wheel Size'].fillna(mode_value, inplace=True)

In [9]:
df['Kms Driven'] = df['Kms Driven'].str.replace(' Kms', '').str.replace(' km', '').str.replace(',', '').astype(int)

In [10]:
# Ensure 'Seats' is treated as a string
df['Seats'] = df['Seats'].astype(str)
# Clean the 'Seats' column by removing the word 'Seats'
df['Seats'] = df['Seats'].str.replace(' Seats', '', regex=False)
# Convert to int, filling NaN values with 0 before conversion
df['Seats'] = pd.to_numeric(df['Seats'], errors='coerce').fillna(0).astype(int)

In [11]:
# Clean the 'Engine' column by removing the 'cc' suffix
df['Engine Displacement'] = df['Engine Displacement'].str.replace(' cc', '', regex=False)
# Convert to numeric if needed
df['Engine Displacement'] = pd.to_numeric(df['Engine Displacement'], errors='coerce')

In [12]:
# Cleaning the 'price' column
df['price'] = df['price'].replace(
  {'â‚¹ ': '', ',': '', ' Lakh': '*100000', ' Crore': '*10000000'}, regex=True)
# Evaluate the string expressions to convert to numeric
df['price'] = df['price'].apply(lambda x: eval(x))
# Convert to float
df['price'] = df['price'].astype(int)

In [13]:
# List of columns you want to convert to lowercase
a = ['ft', 'bt', 'oem','model','variantName','Insurance Validity','RTO','Transmission'] 
# Convert each specified column to lowercase
for i in a:
    df[i] = df[i].astype(str).str.lower()

In [14]:
import pandas as pd

#fill with city name
df['city'] = 'Chennai'

# Display the updated DataFrame
print(df)

          ft         bt  ownerNo         oem              model  modelYear  \
0     petrol        suv        1         kia          kia sonet       2022
1     petrol   minivans        1      maruti        maruti eeco       2015
2     petrol        suv        1      nissan     nissan magnite       2021
3     petrol  hatchback        1     hyundai        hyundai i10       2015
4     petrol  hatchback        1       honda         honda jazz       2015
...      ...        ...      ...         ...                ...        ...
1414  petrol  hatchback        1      maruti       maruti swift       2018
1415  diesel        suv        1     renault     renault duster       2018
1416  petrol        suv        1        tata         tata nexon       2018
1417  diesel        suv        1  volkswagen  volkswagen tiguan       2017
1418  diesel      sedan        1         bmw    bmw 3 series gt       2019

      centralVariantId                    variantName    price  \
0                 8654  turbo dct anniversary edition  1150000
1                 4025         7 seater standard bsiv   415000
2                 8135          turbo xv premium bsvi   750000
3                 1579                    sportz 1.1l   398000
4                 1341                  1.2 vx i vtec   550000
...                ...                            ...      ...
1414              6190                        amt vxi   620000
1415              5050                85ps diesel rxz   890000
1416              6364          1.2 revotron xza plus   801000
1417              5849               2.0 tdi highline  2050000
1418              6630                          sport  3575000

                                           trendingText  ...  \
0     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
2     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
3     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
4     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
...                                                 ...  ...
1414  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1415  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1416  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1417  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1418  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...

     Comfort & Convenience  Interior  Exterior Safety  \
0                       20        13        17     30
1                        3         5         4     13
2                       22        13        20     36
3                        8         9         6     17
4                       14        12        13     22
...                    ...       ...       ...    ...
1414                    11        11         5     26
1415                    21        13        11     25
1416                    17        12        10     24
1417                    27        14        16     32
1418                    28        15        13     33

      Entertainment & Communication Mileage  Max Power      Torque  \
0                                 9    0.00     118.36  177.074331
1                                 0   15.37      73.00  101.000000
2                                11   20.00      98.63  160.000000
3                                 6   19.81      68.05   99.040000
4                                10   18.70      88.70  110.000000
...                             ...     ...        ...         ...
1414                              7   22.00      81.80  113.000000
1415                              9   19.87      83.80  200.000000
1416                              8   17.00     108.50  170.000000
1417                              9   16.65     141.00  340.000000
1418                             13   21.76     188.00  400.000000

      Wheel Size     city
0           16.0  Chennai
1           16.0  Chennai
2           16.0  Chennai
3           16.0  Chennai
4           15.0  Chennai
...          ...      ...
1414        16.0  Chennai
1415        16.0  Chennai
1416        16.0  Chennai
1417        18.0  Chennai
1418        18.0  Chennai

[1419 rows x 26 columns]

In [15]:
# Save the cleaned DataFrame as a CSV file
df.to_csv('cleaned_chen_car.csv', index=False)

In [16]:
df.dtypes

ft                                object
bt                                object
ownerNo                            int64
oem                               object
model                             object
modelYear                          int64
centralVariantId                   int64
variantName                       object
price                              int32
trendingText                      object
Insurance Validity                object
Seats                              int32
Kms Driven                         int32
RTO                               object
Engine Displacement                int64
Transmission                      object
Comfort & Convenience              int64
Interior                           int64
Exterior                           int64
Safety                             int64
Entertainment & Communication      int64
Mileage                          float64
Max Power                        float64
Torque                           float64
Wheel Size                       float64
city                              object
dtype: object