In [2]:
import pandas as pd

# Load the CSV data
df = pd.read_csv("D:/Car price prediction/kol_car_merged_dataset1.csv")

In [3]:
# Drop multiple columns
df = df.drop(columns=['priceActual','Registration Year', 'it','priceSaving','priceFixedText','owner','Engine','Ownership','Seats.1','transmission','km','Fuel Type','Year of Manufacture'])

In [4]:
df.isnull().sum()

ft                                 0
bt                                 1
ownerNo                            0
oem                                0
model                              0
modelYear                          0
centralVariantId                   0
variantName                        0
price                              0
trendingText                       0
Insurance Validity                 0
Seats                              3
Kms Driven                         0
RTO                              184
Engine Displacement                0
Transmission                       0
Comfort & Convenience              0
Interior                           0
Exterior                           0
Safety                             0
Entertainment & Communication      0
Mileage                           47
Max Power                         10
Torque                            10
Wheel Size                       544
dtype: int64

In [5]:
# Fill missing 'bt' values with "Unknown"
df['bt'].fillna("Unknown", inplace=True)

C:\Users\yashw\AppData\Local\Temp\ipykernel_101232\3014743610.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bt'].fillna("Unknown", inplace=True)

In [6]:
df['Seats'] = pd.to_numeric(df['Seats'].str.replace('Seats', '').str.strip(), errors='coerce').fillna(0).astype(int)

In [7]:
df['RTO'].fillna('Unknown', inplace=True)

C:\Users\yashw\AppData\Local\Temp\ipykernel_101232\389677397.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RTO'].fillna('Unknown', inplace=True)

In [8]:
df['Mileage'] = pd.to_numeric(df['Mileage'].str.replace(' kmpl', '').str.replace(' km', '').str.strip(), errors='coerce').fillna(0)

In [9]:
df['Max Power'] = pd.to_numeric(df['Max Power'].str.replace('bhp', '').str.strip(), errors='coerce')
df['Torque'] = pd.to_numeric(df['Torque'].str.replace('Nm', '').str.strip(), errors='coerce')
# Fill NaN values in 'Max Power' and 'Torque' with their respective means
df['Max Power'].fillna(df['Max Power'].mean(), inplace=True)
df['Torque'].fillna(df['Torque'].mean(), inplace=True)

C:\Users\yashw\AppData\Local\Temp\ipykernel_101232\2161950368.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Max Power'].fillna(df['Max Power'].mean(), inplace=True)
C:\Users\yashw\AppData\Local\Temp\ipykernel_101232\2161950368.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Torque'].fillna(df['Torque'].mean(), inplace=True)

In [10]:
df['Wheel Size'] = pd.to_numeric(df['Wheel Size'], errors='coerce')
mode_value = df['Wheel Size'].mode()[0]
# Fill NaN values in 'Wheel Size' with the mode
df['Wheel Size'].fillna(mode_value, inplace=True)

C:\Users\yashw\AppData\Local\Temp\ipykernel_101232\1812922504.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Wheel Size'].fillna(mode_value, inplace=True)

In [11]:
df['Kms Driven'] = df['Kms Driven'].str.replace(' Kms', '').str.replace(' km', '').str.replace(',', '').astype(int)

In [12]:
# Ensure 'Seats' is treated as a string
df['Seats'] = df['Seats'].astype(str)
# Clean the 'Seats' column by removing the word 'Seats'
df['Seats'] = df['Seats'].str.replace(' Seats', '', regex=False)
# Convert to int, filling NaN values with 0 before conversion
df['Seats'] = pd.to_numeric(df['Seats'], errors='coerce').fillna(0).astype(int)

In [13]:
df.dtypes

ft                                object
bt                                object
ownerNo                            int64
oem                               object
model                             object
modelYear                          int64
centralVariantId                   int64
variantName                       object
price                             object
trendingText                      object
Insurance Validity                object
Seats                              int32
Kms Driven                         int32
RTO                               object
Engine Displacement               object
Transmission                      object
Comfort & Convenience              int64
Interior                           int64
Exterior                           int64
Safety                             int64
Entertainment & Communication      int64
Mileage                          float64
Max Power                        float64
Torque                           float64
Wheel Size                       float64
dtype: object

In [14]:
# Clean the 'Engine' column by removing the 'cc' suffix
df['Engine Displacement'] = df['Engine Displacement'].str.replace(' cc', '', regex=False)
# Convert to numeric if needed
df['Engine Displacement'] = pd.to_numeric(df['Engine Displacement'], errors='coerce')

In [15]:
# List of columns you want to convert to lowercase
a = ['ft', 'bt', 'oem','model','variantName','Insurance Validity','RTO','Transmission'] 
# Convert each specified column to lowercase
for i in a:
    df[i] = df[i].astype(str).str.lower()

In [16]:
# Cleaning the 'price' column
df['price'] = df['price'].replace(
  {'₹ ': '', ',': '', ' Lakh': '*100000', ' Crore': '*10000000'}, regex=True)
# Evaluate the string expressions to convert to numeric
df['price'] = df['price'].apply(lambda x: eval(x))
# Convert to float
df['price'] = df['price'].astype(int)

In [17]:
import pandas as pd

#fill with city name
df['city'] = 'Kolkata'

# Display the updated DataFrame
print(df)

          ft         bt  ownerNo            oem                  model  \
0     petrol      sedan        3         toyota           toyota camry
1     petrol  hatchback        1         datsun          datsun redigo
2     petrol        suv        1        renault          renault kiger
3     petrol  hatchback        2        hyundai            hyundai i20
4     diesel        suv        2           audi                audi q3
...      ...        ...      ...            ...                    ...
1376  petrol  hatchback        1         maruti         maruti celerio
1377  petrol  hatchback        1         maruti        maruti alto 800
1378  petrol      sedan        3  mercedes-benz  mercedes-benz c-class
1379  petrol  hatchback        1         maruti            maruti ritz
1380  diesel        suv        2        renault         renault duster

      modelYear  centralVariantId             variantName    price  \
0          2014              2123                  hybrid   975000
1          2017              5236                t option   266000
2          2021              8352                 rxt amt   595000
3          2011              1642              1.2 sportz   223000
4          2014                99  35 tdi quattro premium  1200000
...         ...               ...                     ...      ...
1376       2022              8682                zxi bsvi   509999
1377       2014              3943                     lxi   180000
1378       2011              4672      c 200 cgi elegance   550000
1379       2012              4144                     zxi   140000
1380       2017              5048    110ps diesel rxz awd   500000

                                           trendingText  ...  \
0     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
2     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
3     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
4     {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
...                                                 ...  ...
1376  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1377  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1378  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1379  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...
1380  {'imgUrl': 'https://stimg.cardekho.com/used-ca...  ...

     Comfort & Convenience  Interior  Exterior Safety  \
0                       16        10        10     26
1                       10         7         6     15
2                       16        10        13     26
3                       14        12         9     17
4                       20        12        14     28
...                    ...       ...       ...    ...
1376                    12         9        10     25
1377                     7         7         3     10
1378                    20        12        20     25
1379                    12        10        10     22
1380                    21        13        11     27

      Entertainment & Communication Mileage   Max Power      Torque  \
0                                 5   19.16  158.200000  213.000000
1                                 5   22.70   53.640000   72.000000
2                                11   19.03   71.010000   96.000000
3                                 4   17.00  103.119629  170.553712
4                                 5   15.73  174.330000  380.000000
...                             ...     ...         ...         ...
1376                              7   25.24   65.710000   89.000000
1377                              0   22.74   47.300000   69.000000
1378                              6   11.74  186.000000  285.000000
1379                              5   18.50   85.800000  114.000000
1380                              9   19.72  108.450000  245.000000

      Wheel Size     city
0           17.0  Kolkata
1           16.0  Kolkata
2           16.0  Kolkata
3           14.0  Kolkata
4           16.0  Kolkata
...          ...      ...
1376        16.0  Kolkata
1377        16.0  Kolkata
1378        17.0  Kolkata
1379        14.0  Kolkata
1380        16.0  Kolkata

[1381 rows x 26 columns]

In [18]:
# Save the cleaned DataFrame as a CSV file
df.to_csv('cleaned_kol_car.csv', index=False)

In [19]:
df.dtypes

ft                                object
bt                                object
ownerNo                            int64
oem                               object
model                             object
modelYear                          int64
centralVariantId                   int64
variantName                       object
price                              int32
trendingText                      object
Insurance Validity                object
Seats                              int32
Kms Driven                         int32
RTO                               object
Engine Displacement                int64
Transmission                      object
Comfort & Convenience              int64
Interior                           int64
Exterior                           int64
Safety                             int64
Entertainment & Communication      int64
Mileage                          float64
Max Power                        float64
Torque                           float64
Wheel Size                       float64
city                              object
dtype: object