In [11]:
import pandas as pd
import ast

# Load the Excel file
df = pd.read_excel('D:/Car price prediction/DATASET/kolkata_cars.xlsx')

# Function to flatten the nested dictionary in the first column
def flatten_column(column):
    flattened_data = []
    for item in column:
        # Convert string representation of dictionary to actual dictionary
        data_dict = ast.literal_eval(item)
        flattened_data.append(data_dict)
    return pd.DataFrame(flattened_data)

# Flatten the first column
flattened_df = flatten_column(df['new_car_detail'])

# Display the first few rows of the flattened data
print(flattened_df.head())

   it      ft         bt      km transmission  ownerNo      owner      oem  \
0   0  Petrol      Sedan  70,000    Automatic        3  3rd Owner   Toyota
1   0  Petrol  Hatchback  23,981       Manual        1  1st Owner   Datsun
2   0  Petrol        SUV   7,100    Automatic        1  1st Owner  Renault
3   0  Petrol  Hatchback  71,574       Manual        2  2nd Owner  Hyundai
4   0  Diesel        SUV  50,000    Automatic        2  2nd Owner     Audi

           model  modelYear  centralVariantId             variantName  \
0   Toyota Camry       2014              2123                  Hybrid
1  Datsun RediGO       2017              5236                T Option
2  Renault Kiger       2021              8352                 RXT AMT
3    Hyundai i20       2011              1642              1.2 Sportz
4        Audi Q3       2014                99  35 TDI Quattro Premium

         price priceActual priceSaving priceFixedText  \
0  ₹ 9.75 Lakh                                   None
1  ₹ 2.66 Lakh                                   None
2  ₹ 5.95 Lakh                                   None
3  ₹ 2.23 Lakh                                   None
4    ₹ 12 Lakh                                   None

                                        trendingText
0  {'imgUrl': 'https://stimg.cardekho.com/used-ca...
1  {'imgUrl': 'https://stimg.cardekho.com/used-ca...
2  {'imgUrl': 'https://stimg.cardekho.com/used-ca...
3  {'imgUrl': 'https://stimg.cardekho.com/used-ca...
4  {'imgUrl': 'https://stimg.cardekho.com/used-ca...

In [20]:
flattened_df.shape

(1381, 17)

In [12]:
import pandas as pd
import ast

# Load the Excel file
df = pd.read_excel('D:/Car price prediction/DATASET/kolkata_cars.xlsx')

# Function to flatten the nested dictionary in the second column
def flatten_overview_column(column):
    flattened_data = []
    for item in column:
        # Convert string representation of dictionary to actual dictionary
        data_dict = ast.literal_eval(item)
        # Extract relevant information
        flat_dict = {
            'Registration Year': None,
            'Insurance Validity': None,
            'Fuel Type': None,
            'Seats': None,
            'Kms Driven': None,
            'RTO': None,
            'Ownership': None,
            'Engine Displacement': None,
            'Transmission': None,
            'Year of Manufacture': None
        }
        for entry in data_dict['top']:
            flat_dict[entry['key']] = entry['value']
        flattened_data.append(flat_dict)
    return pd.DataFrame(flattened_data)

# Flatten the second column
flattened_overview_df = flatten_overview_column(df['new_car_overview'])

# Display the first few rows of the flattened data
print(flattened_overview_df.head())

  Registration Year     Insurance Validity Fuel Type    Seats  Kms Driven  \
0              2014  Third Party insurance    Petrol  5 Seats  70,000 Kms
1          Jul 2017          Comprehensive    Petrol  5 Seats  23,981 Kms
2          Nov 2021          Comprehensive    Petrol  5 Seats   7,100 Kms
3          Feb 2012            Third Party    Petrol  5 Seats  71,574 Kms
4              2014  Third Party insurance    Diesel  5 Seats  50,000 Kms

    RTO     Ownership Engine Displacement Transmission  Year of Manufacture
0  WB02   Third Owner             2494 cc    Automatic               2014.0
1  WB24   First Owner              799 cc       Manual               2017.0
2  WB06   First Owner              999 cc    Automatic               2021.0
3  WB06  Second Owner             1197 cc       Manual               2011.0
4  WB02  Second Owner             1968 cc    Automatic               2014.0

In [21]:
flattened_overview_df.shape

(1381, 10)

In [13]:
import pandas as pd
import ast

# Load the Excel file
df = pd.read_excel('D:/Car price prediction/DATASET/kolkata_cars.xlsx')

# Function to flatten the nested dictionary in the third column
def flatten_features_column(column):
    flattened_data = []
    for item in column:
        # Convert string representation of dictionary to actual dictionary
        data_dict = ast.literal_eval(item)
        # Extract relevant features
        flat_dict = {
            'Comfort & Convenience': [],
            'Interior': [],
            'Exterior': [],
            'Safety': [],
            'Entertainment & Communication': []
        }
        for feature_category in data_dict['data']:
            category_name = feature_category['heading']
            for feature in feature_category['list']:
                flat_dict[category_name].append(feature['value'])
        flattened_data.append(flat_dict)
    return pd.DataFrame(flattened_data)

# Flatten the third column
flattened_features_df = flatten_features_column(df['new_car_feature'])

# Display the first few rows of the flattened data
print(flattened_features_df.head())

                               Comfort & Convenience  \
0  [Power Steering, Power Windows Front, Power Wi...
1  [Power Steering, Power Windows Front, Remote T...
2  [Power Steering, Power Windows Front, Power Wi...
3  [Power Steering, Power Windows Front, Power Wi...
4  [Power Steering, Power Windows Front, Power Wi...

                                            Interior  \
0  [Air Conditioner, Heater, Adjustable Steering,...
1  [Air Conditioner, Heater, Tachometer, Electron...
2  [Air Conditioner, Heater, Adjustable Steering,...
3  [Air Conditioner, Heater, Adjustable Steering,...
4  [Air Conditioner, Heater, Adjustable Steering,...

                                            Exterior  \
0  [Adjustable Head Lights, Fog Lights Front, Fog...
1  [Adjustable Head Lights, Manually Adjustable E...
2  [Adjustable Head Lights, Power Adjustable Exte...
3  [Fog Lights Rear, Power Adjustable Exterior Re...
4  [Adjustable Head Lights, Fog Lights Front, Fog...

                                              Safety  \
0  [Anti Lock Braking System, Brake Assist, Cente...
1  [Anti Lock Braking System, Centeral Locking, C...
2  [Anti Lock Braking System, Centeral Locking, P...
3  [Centeral Locking, Power Door Locks, Child Saf...
4  [Anti Lock Braking System, Brake Assist, Cente...

                       Entertainment & Communication
0  [Cd Player, Dvd Player, Radio, Speakers Front,...
1  [Radio, Speakers Front, Usb Auxiliary Input, B...
2  [Radio, Speakers Front, Speakers Rear, Integra...
3  [Cd Player, Radio, Speakers Front, Speakers Rear]
4  [Cd Player, Radio, Audio System Remote Control...

In [22]:
flattened_features_df.shape

(1381, 5)

In [15]:
import pandas as pd
import ast

# Load the Excel file
df = pd.read_excel('D:/Car price prediction/DATASET/kolkata_cars.xlsx')

# Function to flatten the nested dictionary in the fourth column
def flatten_specs_column(column):
    flattened_data = []
    for item in column:
        # Convert string representation of dictionary to actual dictionary
        data_dict = ast.literal_eval(item)
        # Extract relevant specifications
        flat_dict = {
            'Mileage': None,
            'Engine': None,
            'Max Power': None,
            'Torque': None,
            'Wheel Size': None,
            'Seats': None
        }
        for spec_category in data_dict['top']:
            flat_dict[spec_category['key']] = spec_category['value']
        flattened_data.append(flat_dict)
    return pd.DataFrame(flattened_data)

# Flatten the fourth column
flattened_specs_df = flatten_specs_column(df['new_car_specs'])

# Display the first few rows of the flattened data
print(flattened_specs_df.head())

      Mileage   Engine          Max Power                 Torque Wheel Size  \
0  19.16 kmpl  2494 CC           158.2bhp                  213Nm         17
1   22.7 kmpl   799 CC           53.64bhp                   72Nm       None
2  19.03 kmpl   999 CC           71.01bhp                   96Nm       None
3     17 kmpl  1197 CC  80 PS at 5200 rpm  11.4 kgm at 4,000 rpm         14
4  15.73 kmpl  1968 CC          174.33bhp                  380Nm         16

  Seats
0     5
1     5
2     5
3     5
4     5

In [23]:
flattened_specs_df.shape

(1381, 6)

In [32]:
import pandas as pd

# Concatenate DataFrames horizontally
merged_df = pd.concat([flattened_df, flattened_overview_df, flattened_features_df, flattened_specs_df], axis=1)

# Save to CSV
merged_df.to_csv('Kol_car_merged_dataset.csv', index=False)

In [1]:
import pandas as pd


# Load the CSV data
df = pd.read_csv('D:/Car price prediction/New dataset/kol_car_merged_dataset.csv')

# Counting the number of elements in the list for specified columns
columns_to_count = ["Comfort & Convenience", "Interior", "Exterior", "Safety", "Entertainment & Communication"]
for column in columns_to_count:
    df[column] = df[column].apply(lambda x: len(eval(x)) if isinstance(x, str) else 0)

# Display the modified dataframe
print(df.head())
df.to_csv('kol_car_merged_dataset1.csv', index=False)

   it      ft         bt      km transmission  ownerNo      owner      oem  \
0   0  Petrol      Sedan  70,000    Automatic        3  3rd Owner   Toyota
1   0  Petrol  Hatchback  23,981       Manual        1  1st Owner   Datsun
2   0  Petrol        SUV   7,100    Automatic        1  1st Owner  Renault
3   0  Petrol  Hatchback  71,574       Manual        2  2nd Owner  Hyundai
4   0  Diesel        SUV  50,000    Automatic        2  2nd Owner     Audi

           model  modelYear  ...  Interior Exterior Safety  \
0   Toyota Camry       2014  ...        10       10     26
1  Datsun RediGO       2017  ...         7        6     15
2  Renault Kiger       2021  ...        10       13     26
3    Hyundai i20       2011  ...        12        9     17
4        Audi Q3       2014  ...        12       14     28

  Entertainment & Communication     Mileage   Engine          Max Power  \
0                             5  19.16 kmpl  2494 CC           158.2bhp
1                             5   22.7 kmpl   799 CC           53.64bhp
2                            11  19.03 kmpl   999 CC           71.01bhp
3                             4     17 kmpl  1197 CC  80 PS at 5200 rpm
4                             5  15.73 kmpl  1968 CC          174.33bhp

                  Torque Wheel Size Seats.1
0                  213Nm         17     5.0
1                   72Nm        NaN     5.0
2                   96Nm        NaN     5.0
3  11.4 kgm at 4,000 rpm         14     5.0
4                  380Nm         16     5.0

[5 rows x 38 columns]